<!DOCTYPE html>
<html>
	<head>
		<title>Log in</title>
		<link rel='stylesheet' href='/styles/main.scss.css' />
	</head>
	<body>
		<h1>Log in</h1>
		<form action="/auth/login" method="post">
			<div>
				<%- error.display('email') %>
				<input type="email" placeholder="email" name="email" value="<%= prev.display('body', 'email') %>">
			</div>
			<div>
				<%- error.display('password') %>
				<input type="password" placeholder="password" name="password">
			</div>
			<% if(redirect) { %>
				<input type="hidden" name="redirect" value="<%= redirect %>">
			<% } %>
			<button>Log in</button>
		</form>
	</body>
</html>
