{
	"presets": [
		"@babel/preset-env",
		"@babel/preset-typescript"
	],
	"plugins": [
		"transform-class-properties",
		[
			"@babel/plugin-transform-runtime",
			{
				"regenerator": true
			}
		]
	],
	"ignore": ["./node_modules"]
}
