/node_modules
.DS_Store
/config/local.js
/public/scripts/bundle.js
/public/scripts/bundle.js.map
/public/scripts/bundle.min.js
/public/scripts/bundle.min.js.map
/public/styles/**/*.css
/public/styles/**/*.map
/build/.pid
npm-debug.log