<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/styles/main.scss.css' />
	</head>
	<body>
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
		<script type="text/javascript" src="/scripts/bundle.js"></script>
	</body>
</html>
